.block-title {
  font-size: 2rem;

  @media only screen and (min-width: 601px) {
    font-size: 2.8rem;
  }
}

.block-header {
  text-align: center;

  .block-title {
    font-size: 1.66667em;
    margin: 0 0 0.25em;

    &:last-child {
      margin-bottom: 1em;
    }
  }

  .block-subtitle {
    color: $gray-500;
    line-height: 1.5;

    &:last-child {
      margin-bottom: 1.66667em;
    }
  }
}

.block-preview {
  margin-bottom: 2em;
}

.block-buttons {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1.66667em 0 1em;

  &:first-child {
    margin-top: 0;
  }

  a {
    font-size: 0.88889em;
    font-weight: bold;
    margin: 0 0.375em 1.125em;

    .font-fira-sans & {
      font-weight: 600;
    }
  }
}

.quotation,
.bg-fixed {
  background-attachment: fixed;
  background-size: cover;
}

.hero-block {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 20em;
  .inner {
    padding: 2em 0;
  }
  .block-title {
    text-shadow: 0px 5px 25px rgba(0, 0, 0, 50%);
    letter-spacing: .02em;
    font-size: 3.4rem;
  }
}

.hero-block,
.cta-block {
  .block-buttons {
    .button {
      padding: 0.625em 2.5em;
    }
  }
}

.hero-block,
.text-block,
.features-block,
.cta-block {
  .grid {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .cell {
    text-align: center;
  }
}

@media only screen and (min-width: 801px) {
  .hero-block,
  .text-block,
  .features-block,
  .cta-block {
    .cell {
      &:only-child {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: $container-md;
        text-align: center;
      }
    }
  }

  .hero-block,
  .text-block,
  .features-block {
    .cell {
      &:only-child {
        .underline {
          &:after {
            display: none;
          }
        }
      }
    }

    .block-preview {
      max-width: 58.333%;
    }

    .block-content {
      max-width: 41.666%;
      text-align: left;

      &:not(:only-child) {
        .block-buttons {
          -ms-flex-pack: start;
          justify-content: flex-start;

          a {
            margin-left: 0;
            margin-right: 0.75em;
          }
        }
      }
    }
  }

  .hero-block,
  .text-block,
  .block-item:nth-child(2n+1) {
    .grid {
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }

    .block-preview {
      &:not(:only-child) {
        padding-left: 1.5em;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .hero-block,
  .text-block,
  .features-block {
    .underline {
      &:after {
        display: none;
      }
    }
  }
}

.image-under-content {
  & > img {
    width: 100%;
  }
}

.video-under-content {
  height: 56.25vw;
  & > video {
    background: #404040;
  }
}

// Media under content (used in hero)
.media-under-content {
  position: relative;
  color: white;
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  .inner {
    box-sizing: border-box;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    max-width: 100%;
    width: 100%;
    height: 56.25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block-title {
    font-size: 5.5vw;
    letter-spacing: .25vw;
    text-shadow: 0px 5px 25px rgba(0, 0, 0, 50%);
  }
  .block-copy {
    font-size: 1.9vw;
    line-height: 1.7em;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 50%);
    background-image: radial-gradient(closest-side, rgba(0,0,0,.3), rgba(0,0,0,.3), rgba(0,0,0,0));
  }
  @media only screen and (min-width: 801px) {
    .cell.block-content {
      max-width: 75vw;
    }
  }
}

// Cta block
.cta-block {
  .block-title {
    margin-bottom: 0.25em;
  }

  .block-buttons {
    margin-top: 0.66667em;
  }
}

@media only screen and (min-width: 801px) {
  .cta-block {
    .block-content {
      max-width: 66.666%;
      margin: 0 auto;
      text-align: center;
    }

    .block-buttons {
      margin: 2em auto;
      max-width: 66.66%;
    }
  }
}

// Features block
.features-block {
  .block-header {
    .block-title {
      &:last-child {
        margin-bottom: 1.33333em;
      }
    }

    .block-subtitle {
      &:last-child {
        margin-bottom: 2.22222em;
      }
    }
  }
  @media only screen and (min-width: 801px) {
    .block-image-size-small {
      .block-preview:not(:only-child) {
        max-width: 35%;
      }
      .block-content {
        max-width: 65%;
      }
      .block-content:only-child {
        max-width: 80%;
      }
    }
    .block-image-size-medium {
      .block-preview:not(:only-child) {
        max-width: 45%;
      }
      .block-content {
        max-width: 55%;
      }
      .block-content:only-child {
        max-width: 80%;
      }
    }
    .block-image-size-large {
      .block-preview:not(:only-child) {
        max-width: 60%;
      }
      .block-content {
        max-width: 40%;
      }
      .block-content:only-child {
        max-width: 80%;
      }
    }
    .grid {
      flex-direction: row-reverse;
      &.block-align-image-left {
        flex-direction: row;
        .block-preview {
          padding-right: 1em;
          padding-left: 0;
        }
      }
    }
  }
}

.block-item {
  margin-bottom: 1.66667em;

  &:last-child {
    margin-bottom: 0;
  }
}

// Pricing, icon link
.pricing-block,
.icon-links-block {
  .grid {
    -ms-flex-pack: center;
    justify-content: center;
  }

  .cell {
    margin: 0 0 1.66667em;
    max-width: 450px;
  }

  .card {
    height: 100%;
  }
}

.icon-links-block {
  .block-header .block-copy {
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 901px) {
  .pricing-block,
  .icon-links-block {
    .cell:first-child:nth-last-child(3),
    .cell:first-child:nth-last-child(3) ~ .cell {
      -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }
}

.plan {
  .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.33333em;
    text-align: center;
  }
}

.plan-header {
  margin-bottom: 1em;
}

.plan-title {
  font-size: 1.11111em;
  margin: 0;
}

.plan-subtitle {
  font-size: 0.88889em;
  line-height: 1.5;

  &:not(:first-child) {
    margin-top: 0.375em;
  }
}

.plan-price {
  color: $gray-700;
  font-weight: bold;
  font-size: 2.22222em;
  margin-top: 0.5em;

  &:first-child {
    margin-top: 0;
  }

  .font-fira-sans & {
    font-weight: 600;
  }
}

.plan-content {
  font-size: 0.88889em;
  line-height: 1.5;

  ul,
  ol {
    line-height: 1.3;
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 0.75em;
  }
}

.plan-footer {
  margin-bottom: 0;
  margin-top: auto;
  padding-top: 1.66667em;

  a {
    margin: 0 0 1em;
    width: 100%;
  }
}

// Contact block
.contact-block {
  form {
    margin: 1.66667em 0;

    &:first-child {
      margin-top: 0;
    }
  }

  &:only-child {
    .block-header {
      margin-bottom: 2.5em;
      max-width: 750px;
    }

    .block-title {
      font-size: 2em;
      margin-bottom: 0.15em;
    }

    .block-subtitle {
      font-size: 1.11111em;
      line-height: 1.4;
    }
  }
}

@media only screen and (min-width: 601px) {
  .contact-block {
    &:only-child {
      .block-title {
        font-size: 2.44444em;
      }

      .block-subtitle {
        font-size: 1.22222em;
      }
    }
  }
}

.glide__slides {
  align-items: stretch;
  .glide__slide {
    height: auto;
    margin-bottom: 2.5rem;
    > .card {
      height: 100%;
    }
  }
}

// Faq section
.handorgel {
  margin-bottom: 2.5em;
}

.handorgel__header {
  background: #fff;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  font-size: 1em;
  margin: 1.25em 0 0;
}

.handorgel__trigger {
  -ms-flex-align: center;
  align-items: center;
  background: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: inherit;
  font-weight: inherit;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  line-height: inherit;
  padding: 1.125em 0.83333em;
  text-align: left;
  white-space: normal;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
  }
}

.handorgel__icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.handorgel__content {
  box-sizing: border-box;
  display: none;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.1s ease 0.1s;
  transition: height 0.1s ease 0.1s;
}

.handorgel__content-inner {
  background: #fff;
  border: 1px solid $gray-200;
  border-top: 0;
  border-radius: 0 0 $border-radius $border-radius;
  box-shadow: $box-shadow;
  font-size: 0.88889em;
  padding: 1.125em 0.9375em;
}

.handorgel__header--open.handorgel__header--opened {
  border-radius: $border-radius $border-radius 0 0;

  .icon-plus:after {
    display: none;
  }
}

.handorgel__content--open {
  display: block;
  -webkit-transition: height 0.2s ease;
  transition: height 0.2s ease;
}

.handorgel__content--opened {
  overflow: visible;
}

// Section background variations
.block {
  &.bg-white + &.bg-white,
  &.bg-gray + &.bg-gray,
  &.bg-dark-gray + &.bg-dark-gray,
  &.bg-accent + &.bg-accent {
    padding-top: 0;
  }

  &.bg-white {
    background: #fff;

    .card,
    .handorgel__header,
    .handorgel__content-inner {
      box-shadow: $box-shadow-white-bg;
    }
  }

  &.bg-dark-gray {
    background: $gray-700;
  }

  &.bg-accent {
    background: $color-primary;
    background: -webkit-gradient(linear, left top, right top, from($color-primary), to($color-secondary));
    background: linear-gradient(to right,$color-primary, $color-secondary);
  }
  
  &.bg-accent, &.bg-dark-gray {
    color: #fff;

    a {
      &:not(.button) {
        color: #fff;
  
        &:hover {
          color: #fff;
          opacity: 0.8;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    caption,
    th {
      color: inherit;
    }

    .block-subtitle {
      color: $gray-200;
    }

    blockquote,
    .underline:after {
      border-color: currentColor;
    }

    .button {
      background: #fff;
      border-color: #fff;
      color: $color-primary;
  
      &.secondary {
        background: transparent;
        color: #fff;
      }
    }
  }
}

.icon-link.icon-link {
  border: 0;
  color: $gray-600;
  line-height: 1.66667;
  margin-bottom: 0;

  h4 {
    font-size: 1.2em;
  }

  .card.card {
    box-shadow: none;
    display: flex;
    box-shadow: none;
    border: none;
  }
}

.icon-link-icon {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1.5em 2em;
  background: $gray-300;
  color: white;
  text-decoration: none;
  &:hover {
    color: $color-secondary;
  }
}

.icon-link-body {
  padding: 1em;
}

.icon-link-title {
  a {
    text-decoration: none;
  }
}

.icon-style-circle {
  .card {
    align-items: flex-start;
    background: transparent;
  }
  .icon-link-icon {
    background: $color-primary;
    border-radius: 3em;
    height: 4em;
    min-height: 2.8em;
    width: 4em;
  }
  .icon-link-body {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.icon-style-octagon {
  h4 {
    margin-top: -.4em;
  }
  .icon-link-icon {
    background: url("/images/octagon.svg") no-repeat;
    width: 4em;
    height: 4em;
    color: $color-primary;
    padding-top: 1.3em;
    margin-bottom: -.5em;
    &:hover {
      color: $color-secondary;
    }
  }
}

.cols-block {
  background-size: cover;
  .grid {
    gap: 2rem;
  }
  .col-title a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .col {
    @media only screen and (min-width: 801px) {
      flex: 1;
      min-width: 40%; /* two columns */
    }
    @media only screen and (min-width: 951px) {
      min-width: 30%; /* three columns */
    }
  }
  &.num-cols-2 .col, &.num-cols-4 .col {
    @media only screen and (min-width: 801px) {
      max-width: 50%;
    }
  }
  &.num-cols-3 .col,
  &.num-cols-5 .col,
  &.num-cols-6 .col {
    @media only screen and (min-width: 801px) {
      max-width: 33.33%;
    }
  }
}

.cols-block .col {
  &.with-icon {
    margin-top: 2em;
    .col-body {
      padding: 1.5em 2em 2em;
    }
  }

  .col-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &.text-align-left,
  &.text-align-right {
    .col-body {
      display: block;
    }
  }

  .icon-link-icon {
    color: white;
    height: 4em;
    position: absolute;
    top: -2em;
    margin-top: -.2em;
    width: 4em;
    background: $color-primary;
    a {
      color: white;
    }
  }

  iframe {
    margin-bottom: 1.66667em;
  }
}



.light-on-dark {
  background-color: $gray-700;
  color: white;
  h1, h2, h3, h4, h5, h6, .block-subtitle {
    color: white;
  }
}
